/** timeYourCode.css **/

ol     { font-size: 0.75rem; }
li     { line-height: 0.75rem; }
button { padding: 0.5rem 1rem 0.5rem 1rem; }
h2     { margin-top: 0; }

input {
  background: var(--extraLightBlue);
  border: var(--border);
  border-radius: var(--borderRadius);
  min-width: 7.1rem;
  padding: 0.2rem 0.5rem 0rem 0.5rem;
  width: 7.1rem;
}

*:focus {
  outline: solid 1px black;
}

.titleText {
  align-items: center;
  display: flex;
  font-size: min(2rem, 3vw);
  gap: 0.5rem;
}

#descriptionContainer {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

#descriptionLeft {}

#descriptionRight {
  font-size: var(--fontSizeSmall);
  text-align: right;
  min-width: 8rem;
}

.codeTextBox {
  background-color: var(--extraLightBlue);
  border: var(--border);
  border-radius: var(--borderRadius);
  color: black;
  display: block;
  font-family: Courier New, monospace;
  font-size: 0.8rem;
  height: 9.5rem;
  margin-bottom: 1rem;
  overflow: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  resize: none;
  unicode-bidi: embed;
  white-space: pre;
  width: 100%;
}

#configContainer {
  border: var(--border);
  border-radius: var(--borderRadius);
  margin: 2rem 0 2rem 0;
  overflow: hidden;
  padding: 1rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: ease-in-out;
}

#configTable {
  border: none;
  overflow: hidden;
}

#configTable tr {}

#configTable td {
  padding: 0.1rem 0.5rem 0.5rem 0;
  vertical-align: middle;
}

#configTable tr:nth-child(even) {
  background-color: transparent;
}

#advancedButton {
  border: var(--border);
  display: block;
  margin-bottom: 1.5rem;
}

#advancedButton:hover {
  box-shadow: var(--boxShadowHover);
}

.advancedInput {
  display: 'table-row';
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

#plan {
  width: 100%;
}

#errorContainer {
  border-radius: var(--borderRadius);
  border: solid 1px red;
  color: red;
  display: none;
  font-size: 1.25rem;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem;
  width: fit-content;
}

#progressContainer {
  display: none;
  margin-top: 1rem;
}

#progressItem {
  color: var(--mediumGreen);
  font-family: Courier New, monospace;
  font-size: 0.8rem;
  font-weight: 600;
  overflow: auto;
  padding-left: 1rem;
  resize: none;
  unicode-bidi: embed;
  white-space: pre;
  width: 100%;
}

#resultsContainer {
  border-radius: var(--borderRadius);
  border: var(--border);
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

#resultsItem {
  display: block;
  font-size: 0.9rem;
  overflow: auto;
  width: 100%;
}

#resultsDate {
  font-size: var(--smallFont);
  margin: 0 0 1rem 0;
}

#resultSummaryLine {
  font-size: 1rem;
  margin: 0;
}

.jsonAndCsvContainer {
  font-family: Courier New, monospace;
  font-size: 0.8rem;
  margin-top: 1rem;
  overflow: auto;
  resize: none;
  unicode-bidi: embed;
  white-space: pre;
}
